/*Layout*/
.app {
  width: 100%;
}
.navbar {
  background-color: white;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.1));
  width: 100%;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*Elements styles*/
.navbar .logo {
  font-weight: 100;
  font-size: 30px;
  color: #787a91;
  text-transform: uppercase;
  font-family: "Righteous", cursive;
}

.navbar .logo-image {
  width: 5%;
  height: auto;
  margin-right: 1em;
}

.header .colorpicker {
  padding-bottom: 2em;
}

@media (min-width: 700px) {
  .header {
    height: 40vh;
  }
}

@media (min-width: 800px) {
  .header {
    height: 50vh;
  }
}
